<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Real Estate Analysis Tool{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body, h1, h2, h3, p, a, .navbar, .content {
            color: white !important; 
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
            <div class="container">
                <ul>
                    <li><a href="{{ url_for('landing_page') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('market_insights') }}">Market Insights</a></li>
                    <li><a href="{{ url_for('price_predictions') }}">Price Predictions</a></li>
                    <li><a href="{{ url_for('investment_opportunities') }}">Investment Opportunities</a></li>
                    <li><a href="{{ url_for('automation') }}">Automation</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </ul>               
            </div>
        </nav>
    </header>
    <div class="container"> 
        <main class="content">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    {% if get_flashed_messages() %}
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endwith %}
    </div>
    {% endif %}

    <footer class="bg-dark text-white">
        <div class="container">
            <p class="text-center mb-0 py-3">&copy; 2024 Real Estate Analysis Tool</p>
        </div>
    </footer>
</body>
</html>
